<div class="profile" *ngIf="userDetails">
  <div class="title">
    <div></div>
    <h2>User Profile</h2>
    <p>{{ userDetails.email }}</p>
  </div>
  <!-- <p *ngIf="this.form.value">Complete Profile</p> -->
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col col-2">
      <div class="field field_v1">
        <label for="title" class="ha-screen-reader">Business name</label>
        <input name="businessName" id="BusinessName" formControlName="businessName" class="field__input"
          placeholder="Business Name" />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Business Name</span>
        </span>
      </div>
    </div>
    <div class="col col-2">
      <div class="field field_v1">
        <label for="title" class="ha-screen-reader">Full name</label>
        <input name="fullName" formControlName="fullName" id="fullName" class="field__input" placeholder="Full Name" />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Full Name</span>
        </span>
      </div>
    </div>
    <div class="col col-2">
      <div class="field field_v1">
        <label for="title" class="ha-screen-reader">Contact Number</label>
        <input name="number" formControlName="number" id="number" class="field__input" placeholder="number" />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Contact Number</span>
        </span>
      </div>
    </div>
    <div class="col col-3">
      <div class="field field_v3">
        <label for="email" class="ha-screen-reader">Address</label>
        <textarea name="address" formControlName="address" class="field__input" placeholder="address" cols="30" rows="5"
          type="textarea"></textarea>
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Address</span>
        </span>
      </div>
    </div>
    <div class="col col-3">
      <div class="field field_v1">
        <label for="title" class="ha-screen-reader">City/Town</label>
        <input name="town" formControlName="town" id="town" class="field__input" placeholder="City/Town" />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">City/Town</span>
        </span>
      </div>
    </div>
    <div class="col col-12 col-n-m">
      <div class="flex flex-center">
        <button type="submit" class="btn m-r">Update</button>
        <button type="button" class="btn btn-b" (click)="onLogout()">Log out</button>
      </div>
    </div>
  </form>
  <div *ngIf="update">
    Updated Successful
  </div>
</div>