<div class="profile" *ngIf="userDetails">
  <div class="title">
    <div></div>
    <h2>User Profile</h2>
    <p>{{ userDetails.email }}</p>
  </div>
  <!-- <p *ngIf="this.form.value">Complete Profile</p> -->
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col col-2">
      <div>
        <label for="title">Business name</label>
        <input name="businessName" id="BusinessName" formControlName="businessName" class="input"
          placeholder="Business Name" />
      </div>
    </div>
    <div class="col col-2">
      <div>
        <label for="title">Full name</label>
        <input name="fullName" formControlName="fullName" id="fullName" class="input" placeholder="Full Name" />
      </div>
    </div>
    <div class="col col-2">
      <div>
        <label for="title">Contact Number</label>
        <input name="number" formControlName="number" id="number" class="input" placeholder="number" />
      </div>
    </div>
    <div class="col col-3">
      <div>
        <label for="email">Address</label>
        <textarea name="address" formControlName="address" class="input" placeholder="address" cols="30" rows="5"
          type="textarea"></textarea>
      </div>
    </div>
    <div class="col col-3">
      <div>
        <label for="title">City/Town</label>
        <input name="town" formControlName="town" id="town" class="input" placeholder="City/Town" />
      </div>
    </div>
    <div class="col col-12 col-n-m">
      <div class="flex flex-center">
        <button type="submit" class="btn m-r">Update</button>
        <button type="button" class="btn btn-b" (click)="onLogout()">Log out</button>
      </div>
    </div>
  </form>
  <div *ngIf="update">
    Updated Successful
  </div>
</div>