<form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <h2>Search Event</h2>
  </div>
  <div class="col col-2">
    <div>
      <input name="title" formControlName="title" id="title" class="input" placeholder="Event name" />
    </div>
  </div>

  <div class="col col-3">
    <label class="input-wrapper">
      <ng-select [items]="category$ | async" bindLabel="category" formControlName="category"
        placeholder="Pick a category" [clearable]="true" bindValue="id">
      </ng-select>
    </label>
  </div>


  <div class="col col-2">
    <div>
      <input name="city" formControlName="city" id="city" class="input" placeholder="Town/City" />
    </div>
  </div>

  <!-- <div class="col col-1">
    <div>
      <input name="Age" formControlName="age" id="age" class="input" placeholder="Age" />
    </div>
  </div> -->

  <div class="col col-3">
    <label class="input">
      <input type="text" formControlName="startDate" placeholder="dd/mm/yyyy" id="startDate"
        [matDatepicker]="picker1" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </label>
  </div>

  <!-- <div class="col col-2">
    <label class="input">
      <input matInput type="text" formControlName="endDate" placeholder="dd/mm/yyyy" id="endDate"
        [matDatepicker]="picker2" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </label>
  </div> -->

  <div class="col col-12">
    <button class="btn btn-b" type="submit">Search</button>
  </div>
</form>

<div>
  <div [ngClass]="searched ? 'search-header' : 'hide'">
    <div></div>
    <div class="col-A">Event Title</div>
    <div class="col-B">Category</div>
    <div class="col-C">Start Date</div>
    <div class="col-D">Town/City</div>
    <div class="col-E"></div>
    <div></div>
  </div>
  <div *ngFor="let item of event$ | async">
    <div class="search-list" *ngIf="list">
      <div class="col-A">{{ item.title }}</div>
      <div class="col-B">{{ item.category }}</div>
      <div class="col-C">{{ item.startDate | date }}</div>
      <div class="col-D">{{ item.city }}</div>
      <div class="col-E">
        <a href="main/events/">View</a>
      </div>
    </div>
  </div>
</div>