button {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 8px;
  margin-right: 10px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0.75em 0 0.65em !important;
}
