.title {
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #444;

  h2 {
    margin: 0;
    color: #eee;
    font-weight: 500;
  }

  button {
    cursor: pointer;
    span {
      color: #fff;
    }
  }
}

.text {
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  p {
    padding: 0 10px 0px 0;
  }
  .age {
    padding: 18px 10px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    &.position {
      background-color: #ff7551;
    }
    &.negative {
      background-color: #31abbd;
    }
  }
  button {
    background-color: #31abbd;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    &.delete {
      background-color: #d22b2b;
      margin-right: 10px;
    }
  }
  a {
    background-color: #31abbd;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px 10px;
    border-radius: 6px;
    &.edit {
      background-color: #eee;
      color: #808191;
      margin-right: 10px;
    }
  }
}
