<div class="title">
    <h2>{{ events.title }}</h2>
    <button *ngIf="eventType != 3 && 2" (click)="favourite(events._id)"><span
            class="material-icons">favorite_border</span></button>
    <button *ngIf="eventType == 3" (click)="removeFavourite(favouritedata._id)"><span
            class="material-icons">favorite</span></button>
</div>
<div class="text">
    <div>
        <p>Location: {{ events.city}}</p>
        <div class="flex">
            <p>Start Date: {{ events.startDate | date }}</p>
            <p *ngIf="events.endDate"> - End Time:{{ events.endDate | date }}</p>
        </div>
        <div class="flex">
            <p>Start Time: {{ events.startTime }}</p>
            <p *ngIf="events.endTime"> - End Time: {{ events.endTime }}</p>
        </div>
        <div>
            <!-- <p *ngIf="events.age" class="age" [ngClass]="{
                'positive' : events.age > 0,
                'negative' : events.age < 18
             }">{{ events.age }}</p> -->
        </div>
    </div>
    <div>
        <a *ngIf="eventType == 1" class="edit" [routerLink]="'editEvent/' + [events._id]">Edit</a>
        <button *ngIf="eventType == 1" class="delete" (click)="deleteEvent(events)">Delete</button>
        <a *ngIf="eventType == 1" [routerLink]="'viewEvent/' + [events._id]">View</a>
        <a *ngIf="eventType != 1" [routerLink]="[events._id]">View</a>
    </div>
</div>