.main {
  display: flex;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.side-bar {
  width: 200px;
}

.body {
  flex: 1;
  background: #eee;
  .route {
    padding: 0 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 940px) {
  .body {
    .route {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 730px) {
  .main {
    grid-template-columns: 65px 1fr;
  }
  .side-bar {
    width: 65px;
  }
}
