.side-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  border-right: 1px solid #ddd;
  height: 100%;
  a {
    color: #000;
    .logo {
      width: 100px;
      display: block;
    }
  }
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  a {
    margin: 10px 0;
    padding: 10px;
  }
}

.side-bar--active {
  background-color: #252936;
  color: #fff !important;
}
