<div class="side-nav">
  <div>
    <a routerLink="/main/home">
      <img src="../../../assets/logo/logo.png" alt="" class="logo">
    </a>
  </div>
  <div class="side-menu">
    <a routerLink="/main/home" routerLinkActive="side-bar--active">
      <img src="../../../assets/svg/home.svg" alt="">
      Home</a>
    <a routerLink="/main/events" routerLinkActive="side-bar--active">
      <img src="../../../assets/svg/events.svg" alt="">
      Events</a>
    <!-- <a routerLink="/" routerLinkActive="side-bar--active">Near you</a> -->
  </div>
</div>