header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-bottom: 3px solid #31abbd;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 5px #00000021;
  .dynamic-event {
    display: flex;
    .event {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        color: #fff;
        background-color: #d22b2b;
        border-radius: 12px;
        padding: 4px 10px;
        margin-right: 10px;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    a {
      color: #808191;
      margin: 0 5px;
      padding: 11px 15px;
      font-size: 1rem;
    }
    .fav {
      padding: 0px 15px 0 5px;
      svg {
        height: 24px;
        width: 24px;
        display: block;
        fill: #31abbd;
      }
    }
  }
}

.header--active {
  background-color: #31abbd;
  color: #fff !important;
}

.profile-icon {
  padding: 4px 10px 2px !important;
  border: 2px solid #31abbd;
  border-radius: 50%;
  color: #31abbd !important;
}

.profile--active {
  background-color: #31abbd;
  color: #fff !important;
}
