nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px 0px 0;
  border-bottom: 1px solid #ddd;
  a {
    color: #000;
    margin: 0 5px;
    padding: 12px 15px;
  }
}

.header--active {
  background-color: #252936;
  color: #fff !important;
}

.profile-icon {
  padding: 4px 10px 2px !important;
  border: 2px solid #31abbd;
  border-radius: 50%;
  color: #31abbd !important;
}
.profile--active {
  background-color: #31abbd;
  color: #fff !important;
}
