<header>
  <div class="dynamic-event">
    <!-- <div *ngFor="let item of (event$ | async)?.slice(0, 5)?.reverse()" class="event">
      <p>{{ item.title }} - </p>
      <p>{{ item.city}}</p>
    </div> -->
  </div>
  <nav>
    <a routerLink="/ui/myEvents" routerLinkActive="header--active" [routerLinkActiveOptions]="{exact:
      true}" *ngIf="!loggedIn">My Events</a>
    <a routerLink="/ui/myEvents/createEvent" routerLinkActive="header--active" [routerLinkActiveOptions]="{exact:
      true}" *ngIf="!loggedIn">Create Event</a>
    <!-- <a routerLink="/ui/favourites" routerLinkActive="header--active" *ngIf="!loggedIn">Favourites</a> -->
    <a class="profile-icon" routerLinkActive="profile--active" routerLink="/ui/profile" *ngIf="!loggedIn">
      P
    </a>
    <a routerLink="/sign-in" *ngIf="loggedIn">Sign in</a>
    <a routerLink="/sign-up" *ngIf="loggedIn">Sign up</a>
  </nav>
</header>