<nav>
  <a routerLink="/ui/myEvents" routerLinkActive="header--active" *ngIf="!loggedIn">My Events</a>
  <a routerLink="/ui/createEvent" routerLinkActive="header--active" *ngIf="!loggedIn">Create Event</a>
  <!-- <a routerLink="/ui/profile" routerLinkActive="header--active" *ngIf="!loggedIn">Favourites</a> -->
  <a class="profile-icon" routerLinkActive="profile--active" routerLink="/ui/profile" *ngIf="!loggedIn">
    P
  </a>
  <a routerLink="/sign-in" *ngIf="loggedIn">Sign in</a>
  <a routerLink="/sign-up" *ngIf="loggedIn">Sign up</a>
</nav>