nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid;
  margin: 0 90px;
  a {
    color: #000;
    margin: 0 20px;
    .logo {
      width: 100px;
    }
  }
}
