<div class="event">
  <div class="title">
    <h2>{{ event?.title }}</h2>
    <button><span class="material-icons">favorite_border</span></button>
  </div>
  <div class="event-info">
    <p>{{ event?.description }}</p>
    <p>{{ event?.category }}</p>
    <p>{{ event?.startDate | date }}</p>
    <p *ngIf="event?.endDate">{{ event?.endDate | date }}</p>
    <p>{{ event?.startTime }}</p>
    <p *ngIf="event?.age">{{ event?.age }}</p>
    <p>{{ event?.city }}</p>
  </div>
  <!-- <a class="edit" [routerLink]="'editEvent/' + [event._id]">Edit</a> -->
</div>