.event {
  margin: 20px 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  .title {
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #444;

    h2 {
      margin: 0;
      color: #eee;
      font-weight: 500;
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        color: #fff;
      }
    }
  }
  .event-info {
    border: 1px solid #444444;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
}
