<section>
  <div class="top">
    <h1>Events in progress</h1>
    <!-- <div>
      <a [routerLink]="'createEvent'">Create</a>
    </div> -->
  </div>
  <div class="event-list">
    <div *ngFor="let item of myEvents$ | async" class="event">
      <h2>{{ item.title }}</h2>
      <div class="text">
        <div>
          <p> {{ item.city}}</p>
          <div class="flex">
            <p *ngIf="item.startDate"> {{ item.startDate | date }} - </p>
            <p>{{ item.endDate | date }}</p>
          </div>
          <div class="flex">
            <p *ngIf="item.startTime"> {{ item.startTime }} - </p>
            <p>{{ item.endTime }}</p>
          </div>
          <div>
            <p *ngIf="item.age"> {{ item.age }}</p>
          </div>
        </div>
        <div>
          <a class="edit" [routerLink]="'editEvent/' + [item._id]">Edit</a>
          <button class="delete" (click)="deleteEvent(item)">Delete</button>
          <a [routerLink]="'viewEvent/' + [item._id]">View</a>
        </div>
      </div>
    </div>
    <!-- <div>
      <div>You have no Events</div>
    </div> -->
  </div>
  <h1>Past Events</h1>
  <div class="event-list">
    <div *ngFor="let item of pastEvents$ | async" class="event">
      <h2>{{ item.title }}</h2>
      <div class="text">
        <div>
          <p>Location: {{ item.city}}</p>
          <div class="flex">
            <p *ngIf="item.startDate">Start Date: {{ item.startDate | date }} - </p>
            <p>End Time:{{ item.endDate | date }}</p>
          </div>
          <div class="flex">
            <p *ngIf="item.startTime">Start Time: {{ item.startTime }} - </p>
            <p>End Time: {{ item.endTime }}</p>
          </div>
          <div>
            <p *ngIf="item.age">Age: {{ item.age }}</p>
          </div>
        </div>
        <div>
          <a class="edit" [routerLink]="'editEvent/' + [item._id]">Edit</a>
          <a [routerLink]="'viewEvent/' + [item._id]">View</a>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="pastEvents$">
      <div>You have no Events</div>
    </div> -->
  </div>
</section>