<div>
  <div class="event-list">
    <div class="event">
      <div>
        <p>{{ userEvents.firstname }}</p>
        <!-- <p>{{ userEvents.surname }} </p> -->
        <!-- <p> {{ item.locationName}}</p> -->
      </div>
      <div>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
        <!-- <a [routerLink]="[item._id]">View</a> -->
      </div>
    </div>
  </div>
</div>

<div class="event-list" *ngIf="!userEvents">
  <div class="event">You have no Events</div>
</div>