<div>
  <h2>Events in progress</h2>
  <div class="event-list">
    <div *ngFor="let item of userEvents.events" class="event">
      {{ item.title }}
      {{ item.description }}
      <div>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
        <a [routerLink]="[item._id]">View</a>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

<div>
  <h2>Past Events</h2>
  <div class="event-list">
    <div *ngFor="let item of userEvents.events" class="event">
      {{ item.title }}
      {{ item.description }}
      <div>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
        <a [routerLink]="[item._id]">View</a>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="event-list" *ngIf="!userEvents">
  <div class="event">You have no Events</div>
</div>