<form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <h2 style="margin: 0;">Create Event</h2>
  </div>
  <div class="col col-12">
    <div class="field field_v1">
      <label for="title" class="ha-screen-reader">Event name</label>
      <input name="title" formControlName="title" id="title" class="field__input" placeholder="Event name" />
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Event Name</span>
      </span>
    </div>
  </div>

  <div class="col col-6">
    <label class="input-wrapper">
      <div class="input-header">
        <span class="input__title">Category</span>
      </div>
      <ng-select [items]="category$ | async" bindLabel="category" formControlName="category"
        placeholder="Pick a category" [clearable]="true" bindValue="id">
      </ng-select>
    </label>
  </div>

  <div class="col col-6">
    <div class="field field_v3">
      <label for="email" class="ha-screen-reader">Description</label>
      <textarea name="Description" formControlName="description" class="field__input" placeholder="Description"
        cols="30" rows="5" type="textarea"></textarea>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Description</span>
      </span>
    </div>
  </div>

  <div class="col col-4">
    <div class="field field_v3">
      <label for="Address" class="ha-screen-reader">Address</label>
      <textarea name="Address" formControlName="address" class="field__input" placeholder="Address" cols="30" rows="5"
        type="textarea"></textarea>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Address</span>
      </span>
    </div>
  </div>

  <div class="col col-4">
    <div class="field field_v1">
      <label for="city" class="ha-screen-reader">City</label>
      <input name="city" formControlName="city" id="city" class="field__input" placeholder="City name" />
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">City</span>
      </span>
    </div>
  </div>

  <div class="col col-4">
    <div class="field field_v1">
      <label for="age" class="ha-screen-reader">Age</label>
      <input name="Age" formControlName="age" id="age" class="field__input" placeholder="Age" />
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">age</span>
      </span>
    </div>
  </div>

  <div class="col col-12">
    <button (click)="endDate()" type="button">Add End Date</button>
  </div>

  <div class="col col-4" *ngIf="hasEndDate">
    <div class="field field_v3">
      <label for="startDate" class="ha-screen-reader">Start Date</label>
      <input type="text" formControlName="startDate" placeholder="dd/mm/yyyy" id="startDate" class="field__input"
        [matDatepicker]="picker1" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Start Date</span>
      </span>
    </div>
  </div>

  <div class="col col-4">
    <div class="field field_v3">
      <label for="endDate" class="ha-screen-reader">Event Date</label>
      <input matInput type="text" formControlName="endDate" placeholder="dd/mm/yyyy" id="endDate" class="field__input"
        [matDatepicker]="picker2" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label" *ngIf="!hasEndDate">Event Date</span>
        <span class="field__label" *ngIf="hasEndDate">End Date</span>
      </span>
    </div>
  </div>

  <div class="col col-12">
    <button (click)="endTime()" type="button">Add End Time</button>
  </div>

  <div class="col col-4" *ngIf="hasEndTime">
    <div class="field field_v1">
      <label for="time" class="ha-screen-reader">Start Time</label>
      <input type="time" id="time" class="field__input" formControlName="startTime">
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Start Time</span>
      </span>
    </div>
  </div>

  <div class="col col-4">
    <div class="field field_v1">
      <label for="time" class="ha-screen-reader">Event Time</label>
      <input type="time" name="time" formControlName="endTime" id="time" class="field__input" placeholder="time" />
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label" *ngIf="!hasEndTime">Event Time</span>
        <span class="field__label" *ngIf="hasEndTime">Finish Time</span>
      </span>
    </div>
  </div>

  <div class="col col-12">
    <button type="button" (click)="editEvent()" *ngIf="this._router.url != '/ui/myEvents/createEvent'">Update</button>
    <button mat-raised-button color="primary" type="submit"
      *ngIf="this._router.url == '/ui/myEvents/createEvent'">Create</button>
  </div>
</form>