.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0.75em 0 0.65em !important;
}
