<form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <h2 style="margin: 0;">{{ this.page ? "Edit Event" : "Create Event" }}</h2>
    <p style="margin-bottom: 5px;">Fields marked with a (*) are required</p>
  </div>

  <div *ngIf="submitted" class="col-12" aria-live="polite" tabindex="-1" id="formErrors">
    <ul id="error-list">
      <li *ngIf="form.controls['title'].hasError('required')">
        Title is required
      </li>
      <li *ngIf="form.controls['category'].hasError('required')">
        Category is required
      </li>
      <li *ngIf="form.controls['addressLine1'].hasError('required')">
        Address Line 1 is required
      </li>
      <li *ngIf="form.controls['addressLine2'].hasError('required')">
        Address Line 2 is required
      </li>
      <li *ngIf="form.controls['city'].hasError('required')">
        Town / City is required
      </li>
      <li *ngIf="form.controls['description'].hasError('required')">
        Description is required
      </li>
      <li *ngIf="form.controls['startDate'].hasError('required')">
        startDate is required
      </li>
      <li *ngIf="form.controls['startTime'].hasError('required')">
        startTime is required
      </li>
    </ul>
  </div>

  <div class="col col-2" data-error="A title is required" appInputValid>
    <div>
      <label for="title">Event Name *</label>
      <input name="title" formControlName="title" id="title" class="input" placeholder="Event name" />
    </div>
  </div>

  <div class="col col-3" data-error="A category is required" appInputValid>
    <label>Category *</label>
    <ng-select [items]="category$ | async" bindLabel="category" formControlName="category" placeholder="Pick a category"
      [clearable]="true" bindValue="id">
    </ng-select>
  </div>

  <div class="col-6"></div>

  <div class="col col-3">
    <label for="Address">Address Line 1 *</label>
    <input name="addressLine1" formControlName="addressLine1" id="addressLine1" class="input"
      placeholder="Address Line 1" />
  </div>

  <div class="col col-3">
    <label for="Address">Address Line 2 *</label>
    <input name="addressLine2" formControlName="addressLine2" id="addressLine2" class="input"
      placeholder="Address Line 2" />
  </div>

  <div class="col col-3">
    <label for="city">Town/City *</label>
    <input name="city" formControlName="city" id="city" class="input" placeholder="Town/City" />
  </div>

  <div class="col col-3">
    <label for="age">Age Range</label>
    <input name="Age" formControlName="age" id="age" class="input" placeholder="Age" />
  </div>


  <div class="col col-9">
    <label for="email">Description *</label>
    <textarea name="Description" formControlName="description" class="input" placeholder="Description" cols="30"
      rows="5" type="textarea"></textarea>
  </div>

  <div class="col col-3 visible">
    <label for="visible">Private</label>
    <input type="checkbox" formControlName="visible" id="visible" />
  </div>


  <div class="col" [ngClass]="!hasEndDate ? 'col-3' : 'col-6'">
    <button class="btn btn-o" (click)="endDate()" type="button">{{ !hasEndDate ? "Add End Date" : "Remove End Date"
      }}</button>
  </div>

  <div class="col" [ngClass]="!hasEndDate ? 'col-9' : 'col-6'">
    <button class="btn btn-o" (click)="endTime()" type="button">{{ !hasEndTime ? "Add End Time" : "Remove End Time"
      }}</button>
  </div>

  <div class="col col-3">
    <label>{{ !hasEndDate ? "Event Date *" : "Start Date*"}}</label>
    <label class="input">
      <input type="text" formControlName="startDate" placeholder="dd/mm/yyyy" id="startDate"
        [matDatepicker]="picker1" />
      <div>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </div>
    </label>
  </div>

  <div class="col col-3" *ngIf="hasEndDate">
    <label>End Date</label>
    <label class="input">
      <input matInput type="text" formControlName="endDate" placeholder="dd/mm/yyyy" id="endDate"
        [matDatepicker]="picker2" />
      <div>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </div>
    </label>
  </div>

  <div class="col col-3">
    <div>
      <label for="time">{{ !hasEndTime ? "Event Time *" : "Start Time *"}}</label>
      <input type="time" id="time" class="input" formControlName="startTime">
    </div>
  </div>

  <div class="col col-3" *ngIf="hasEndTime">
    <div>
      <label for="time">Event Time</label>
      <input type="time" name="time" formControlName="endTime" id="time" class="input" placeholder="time" />
    </div>
  </div>

  <div class="col col-12">
    <button class="btn btn-b" type="button" (click)="editEvent()" *ngIf="this.page">Update</button>
    <button class="btn btn-b" type="submit" *ngIf="!this.page">Create</button>
  </div>
</form>