/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "assets/styles/grid.scss";

/* BASIC */
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 98vh;
  // background-color: #1f1d2b;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/
input[type="text"]:placeholder {
  color: #cccccc;
}

input[type="text"].invalid-textbox,
input[type="password"].invalid-textbox {
  border-bottom: 2px solid #ed5558;
}

label.validation-message {
  color: #ed5558;
}

/* OTHERS */

#icon {
  width: 50%;
}

* {
  box-sizing: border-box;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.success {
  padding: 20px;
  background-color: #249424; /* Green */
  color: white;
  margin-bottom: 15px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
