.btn {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 0;
  font-weight: 400;
  color: #000;
  &-b {
    background-color: #31abbd;
    border: 1px solid #31abbd;
    color: #fff;
  }
  &-o {
    background-color: #ff7551;
    border: 1px solid #ff7551;
    color: #fff;
  }
  &-r {
    background-color: #d22b2b;
    border: 1px solid #d22b2b;
    color: #fff;
  }
}

.m-r {
  margin-right: 10px;
}

.m-b {
  margin-bottom: 10px;
}
