.input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 42px;
  max-height: 42px;
  input {
    border: none;
    &:focus {
      border: 1px solid #31abbd !important;
    }
  }
}

.ng-select.ng-select-single .ng-select-container {
  height: 36px;
  min-height: 42px;
  max-height: 42px;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  min-height: 28px;
}

input.mat-input-element {
  margin-top: 0;
  padding-left: 10px;
  padding: 0;
}
