@media (prefers-color-scheme: dark) {
  body.dark-theme {
    background-color: #1f1d2b;

    .side-nav {
      border-right: 1px solid #252936;
      a svg {
        fill: #31abbd !important;
      }
      .side-menu a:hover {
        background-color: #252936;
      }
    }

    header {
      background-color: #252936;
      nav a {
        color: #fff !important;
      }
      span {
        color: #fff;
      }
    }

    .profile-icon .menu {
      a {
        background-color: #fff !important;
        color: #252936 !important;
      }
      a:hover {
        background-color: #ff7551;
      }
    }

    .profile--active {
      background-color: #31abbd !important;
      color: #fff !important;
      fill: #fff;
    }

    .settings {
      h2 {
        color: #fff;
      }
    }

    .body {
      background-color: #1f1d2b;
    }

    .event-list .event {
      .text {
        background: #252936 !important;
        color: #fff !important;
        a.edit {
          background-color: #fff !important;
          color: #252936 !important;
        }
      }
    }

    .event {
      background-color: #252936;
      color: #fff;
      h2 {
        color: #fff !important;
      }
    }

    // form
    .col label:nth-child(1) {
      color: #fff;
    }

    .input {
      background: #252936;
      color: #fff;
      input {
        background: #252936;
        color: #fff;
      }
    }
    .ng-select.ng-select-single .ng-select-container {
      background: #252936;
      color: #fff;
    }
    .mat-datepicker-toggle {
      color: #fff;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      filter: brightness(0) invert(1);
    }

    .list-text {
      p {
        color: #fff;
      }
    }

    // search
    .form-card {
      background: #252936 !important;
      // border: 1px solid #31abbd;
    }

    .search-list {
      background-color: #252936;
    }

    // account
    .profile {
      border: 1px solid #31abbd;
      background: #252936;
      &.delete {
        border: 1px solid #d22b2b;
      }
    }
    .account {
      border: 1px solid #31abbd;
      background: #252936;
    }

    .profile-icon span p {
      color: #fff !important;
    }

    .a {
      &:hover {
        color: #fff !important;
      }
    }

    // options
    .options .viewBtn {
      border: 1px solid #687575 !important;
      color: #fff;
      background-color: #252936 !important;
    }

    .sort {
      color: #fff;
      select {
        border: 1px solid #687575 !important;
        background: #252936 !important;
        color: #fff;
      }
    }

    // buttons
    .btn {
      border: 1px solid #fff;
      color: #fff;
    }
    .btn-b {
      border: 1px solid #31abbd;
    }
    .btn-o {
      border: 1px solid #ff7551;
    }
    .btn-r {
      border: 1px solid #d22b2b;
    }
  }
}
