<div>
  <div>
    <h2>Latest Event</h2>
    <div class="latest">
      <div *ngFor="let item of (event$ | async)?.slice(0, 2)?.reverse()">
        <a [routerLink]="'/main/events/' + [item._id]">
          <h3>{{ item.title }}</h3>
          <p>{{ item.startDate | date }} </p>
          <p> {{ item.city}}</p>
        </a>
        <button (click)="favourite()"><span class="material-icons">favorite_border</span></button>
      </div>
    </div>
  </div>

  <div>
    <h2>This weekend near you </h2>
    <div class="closest">
      <app-home-list *ngFor="let item of (event$ | async)?.slice(0, 5)" [event]="item"></app-home-list>
    </div>
  </div>

  <div>
    <h2>Ending soon</h2>
    <div class="closest">
      <app-home-list *ngFor="let item of (event$ | async)?.slice(0, 5)" [event]="item"></app-home-list>
    </div>
  </div>

  <div>
    <h2>Ending soon</h2>
    <div class="closest">
      <app-home-list *ngFor="let item of (event$ | async)?.slice(0, 5)" [event]="item"></app-home-list>
    </div>
  </div>

  <div>
    <h2>Ending soon</h2>
    <div class="closest">
      <app-home-list *ngFor="let item of (event$ | async)?.slice(0, 5)" [event]="item"></app-home-list>
    </div>
  </div>
</div>