h2 {
  margin: 20px 0 15px;
  color: #808191;
}

.latest {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  div {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px #00000021;
    a {
      color: #fff;
      h3 {
        font-size: 1.4rem;
      }
    }
  }
  div:nth-child(1) {
    background-color: #31abbd;
  }
  div:nth-child(2) {
    background-color: #ff7551;
  }
}

.closest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  div {
    padding: 20px;
    border-radius: 10px;
    background-color: #252936;
    box-shadow: 0 4px 5px #00000021;
    a {
      color: #fff;
    }
  }
}

/// animations
.fadeIn {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 0.7s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeIn-slow {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 1.3s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeIn-slower {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 1.8s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}
