<div class="account">
  <h2>Sign In</h2>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <div>
        <input type="text" name="email" placeholder="Email" formControlName="email" class="input" required />
      </div>
      <div>
        <input type="password" name="password" placeholder="Password" formControlName="password" class="input" required
          minlength="4" />
      </div>
    </div>
    <div class="flex flex-col flex-a-s">
      <button type="submit" class="btn btn-o m-b">Sign In</button>
      <div class="text">
        Don't have an account? <a type="button" class="a" routerLink="/user/sign-up">Sign Up</a>
      </div>
    </div>
  </form>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
</div>