.account {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin: 20px 0 5px;
}

form {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  margin: 0px 0 20px;
}

.submit {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 8px;
  margin-right: 10px;
}

.signUp {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 8px;
}
