<div class="event">
  <h2>{{ event?.title }}</h2>
  <div class="event-info">
    <p>{{ event?.description }}</p>
    <p>Start Date: {{ event?.startDate | date }} </p>
    <p>Location: {{ event?.city }}</p>
  </div>
</div>

<div class="event">
  <h2>Contact</h2>
  <div class="event-info">
    <p>{{ event?.user[0].fullName }}</p>
    <p>Email: {{ event?.user[0].email }}</p>
    <p>Call: {{ event?.user[0].number }}</p>
    <div style="display: flex; gap: 5px;">
      <p>{{ event?.user[0].addressLine1 }},</p>
      <p>{{ event?.user[0].addressLine2 }},</p>
      <p>{{ event?.user[0].town }}</p>
    </div>
  </div>
</div>