.event {
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #3eabbd;
  border-radius: 10px;
  h2 {
    padding: 5px 20px 5px 20px;
    color: #545c63;
    margin: 0;
    background: #34acbe;
    border-radius: 6px 6px 0 0;
    color: #fff;
  }
  .event-info {
    padding: 10px 20px;
  }
}
