<div class="account">
  <h2>Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <div class="field field_v1">
        <label for="email" class="ha-screen-reader">Email</label>
        <input type="text" name="email" placeholder="Email" formControlName="email" class="field__input" required />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Email</span>
        </span>
      </div>
      <div class="field field_v1">
        <label for="password" class="ha-screen-reader">Password</label>
        <input type="password" name="password" placeholder="Password" formControlName="password" class="field__input"
          required minlength="4" />
        <span class="field__label-wrap" aria-hidden="true">
          <span class="field__label">Password</span>
        </span>
      </div>
    </div>
    <div class="flex">
      <button type="submit" class="submit">Sign up</button>
      <button type="button" routerLink="/sign-in" class="signIn">Sign In</button>
    </div>
  </form>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
</div>