<div class="account">
  <h2>Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <div>
        <input type="text" name="email" placeholder="Email" formControlName="email" class="input" required />
      </div>
      <div>
        <input type="password" name="password" placeholder="Password" formControlName="password" class="input" required
          minlength="4" />
      </div>
    </div>
    <div class="flex">
      <button type="submit" class="submit">Sign up</button>
      <button type="button" routerLink="/sign-in" class="signIn">Sign In</button>
    </div>
  </form>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
</div>