.account {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 5px #00000021;
}

h2 {
  text-align: center;
  background-color: #31abbd;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.account-type {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  button {
    padding: 10px;
    background-color: #eee;
    color: #545c63;
    cursor: pointer;
    &:hover {
      transition: 0.3 ease-in-out;
    }
    &.type {
      background-color: #ff7551;
      color: #fff;
    }
  }
}

.error {
  color: red;
  margin: 2px 0 0 0;
}

.text {
  color: #808191;
  a {
    color: #808191;
    text-decoration: underline;
    &:hover {
      color: #545c63;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mobile {
    display: none;
  }
}
